body {
    background-color: #EFF2FB;
    font-family: "Courier";
    font-size: 0.9em;
}

table{
    
    font-family: "Courier";
    font-size: 0.9em;
    border: 1px solid black;
    border-spacing: 0px;
}

td{
    padding: 5px;
    font-family: "Courier";
    border: 1px solid black;
}

.no-border{
    padding: 3px;
    font-family: "Courier";
    font-size: 0.9em;
    border: 0px solid black;
    border-spacing: 0px;
}

a{
    font-family: "Courier";    
    color: #08088A;
    text-decoration: none;
}

a:hover{
    font-family: "Courier";   
    color: #08088A;
    text-decoration: underline;
}
